<%= form_with model: @artist, local: true, class: "needs-validation", novalidate: true do |f| %>
  <div class="mb-3">
    <%= f.label :name, "Name *", class: "form-label" %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :description, "Description", class: "form-label" %>
    <%= f.text_area :description, rows: 3, class: "form-control" %>
  </div>
  <div class="d-flex justify-content-end">
    <%= f.submit (@artist.persisted? ? "Update" : "Create"), class: "btn btn-primary me-2" %>
    <%= link_to 'Back', artists_path, class: "btn btn-secondary" %>
  </div>
<% end %>