<div class='container mt-4'>
  <div class='d-flex justify-content-between align-items-center mb-4'>
    <h1>Artists</h1>
    <%= link_to 'New Artist', new_artist_path, class: 'btn btn-success' %>
  </div>

  <div class='row mb-4'>
    <div class='col-md-12'>
      <%= form_with url: artists_path, method: :get, local: true, class: 'input-group' do |f| %>
        <%= f.text_field :search, placeholder: 'Search artists...', class: 'form-control' %>
      <button type='submit' class='btn btn-primary'>
        <i class='bi bi-search'></i> Search
      </button>
      <% end %>
    </div>
  </div>

  <% if @artists.any? %>
    <div class='row row-cols-1 row-cols-md-3 g-4'>
      <% @artists.each do |artist| %>
        <div class='col'>
          <div class='card h-100 shadow-sm'>
            <div class='card-body'>
              <h5 class='card-title'><%= artist.name %></h5>
              <p class='card-text'><%= truncate(artist.description, length: 100) %></p>
            </div>
            <div class='card-footer d-flex justify-content-end gap-2'>
              <%= link_to 'View Details', artist_path(artist), class: 'btn btn-primary btn-sm' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class='alert alert-info' role='alert'>
      No artists found.
    </div>
  <% end %>
</div>
